<!DOCTYPE html>
<html>
    <head>
        <title>KMeans Clustering Algorithm</title>
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
        <!-- Link to the external JavaScript file -->
        <script src="/static/scripts.js"></script>
        <link rel="stylesheet" href="/static/styles.css">
    </head>
    <body>
        <h1>KMeans Clustering Algorithm</h1>
        <label for="num_clusters">Number of Clusters (k):</label>
        <input type="number" id="num_clusters" name="num_clusters" min="1" max="10" value="3">
        
        <select id="init_method" name="init_method" onchange="onInitMethodChange()">
            <option value="random">Random</option>
            <option value="farthest_first">Farthest First</option>
            <option value="kmeans++">KMeans++</option>
            <option value="manual">Manual</option>
        </select>
        <button onclick="StepThrough()">Step Through KMeans</button>
        <button onclick="Regenerate()">Generate New Data Set</button>
        <img id="cluster_image" src="static/snapinit.png" alt="Cluster Plot"> 
        
        <div id="clusterPlot"></div>
        <!-- <img id="cluster_image" src="" alt="Cluster Image" style="width:400px;height:400px;"> -->


        
        
    </body>
</html>

